* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background: rgb(198, 198, 198);
  position: relative;
  width: 100wh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.fixedCount {
  background: crimson;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.fixed-count {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 100;
  height: 70px;
}

.fixed-count p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fixed-count span {
  font-size: 22px;
  font-weight: bold;
}

.productWrapper {
  padding: 150px 0;
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.collection-items {
  width: 22%;
  box-shadow: 2px 2px 5px #999;
  padding: 0.5rem;
  background: #fff;
  border-radius: 5px;
}

.collection-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-img {
  height: 250px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-weight: bold;
  font-size: 18px;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control button {
  width: 90px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 0;
  position: relative;
  transition: all 0.2s linear;
}

.control .minus {
  border-radius: 8px 0 0 8px;
  border: 2px solid #ee4d6d;
  background: transparent;
  color: #ee4d6d;
}

.control .minus:hover {
  background: #ee4d6d;
  color: #fff;
}

.control .plus {
  border-radius: 0 8px 8px 0;
  border: 2px solid #ee4d6d;
  background: #ee4d6d;
  color: #fff;
}

.control .plus:hover {
  background: transparent;
  color: #ee4d6d;
}

.control span {
  padding: 10px 20px;
  border: 1px solid #999;
}

.show-cart-items {
  background: #fff;
  height: 300px;
  padding: 0.6rem;
  overflow: auto;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.cart-item-img {
  width: 120px;
  height: 70px;
  object-fit: cover;
}

.cart-item-img img {
  width: 100%;
  height: 100%;
}

.cart-item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 70px;
}

.cart-item-control {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
}

.button-control {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.button-control button {
  cursor: pointer;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
}

.delete {
  background: transparent;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  transition: all 0.3s linear;
  cursor: pointer;
}

.delete:hover {
  background: #ee4d6d;
  color: #fff;
}

.cart-icon {
  position: relative;
}

.cart-icon p {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.cart {
  position: absolute;
  left: 66rem;
  bottom: 8rem;
  width: 390px;
}

.empty-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.empty-item img {
  width: 200px;
}

.empty-item p {
  font-weight: bold;
  font-size: 25px;
  color: #ee4d6d;
}
